<!-- wp:template-part {"slug":"general-header","area":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"right":"0","left":"0"}}},"layout":{"type":"constrained","wideSize":"100%"}} -->
<main class="wp-block-group" style="padding-right:0;padding-left:0"><!-- wp:group {"align":"wide","style":{"elements":{"link":{"color":{"text":"var:preset|color|contrast"}}},"typography":{"textDecoration":"none"}},"backgroundColor":"primary","textColor":"contrast","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group alignwide has-contrast-color has-primary-background-color has-text-color has-background has-link-color" style="text-decoration:none"><!-- wp:site-title {"style":{"typography":{"textDecoration":"none"}},"fontSize":"medium","fontFamily":"barlow"} /--></div>
<!-- /wp:group -->

<!-- wp:heading -->
<h2 class="wp-block-heading"></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"spacing":{"padding":{"top":"1.1rem","bottom":"1.1rem","left":"2rem","right":"2rem"}}},"fontSize":"medium","fontFamily":"barlow"} -->
<p class="has-barlow-font-family has-medium-font-size" style="padding-top:1.1rem;padding-right:2rem;padding-bottom:1.1rem;padding-left:2rem">Lrem ipsum lorem ioa moasmdoad aomdoamsdoas aodmaosdmoamd amsdoasmdoamsd asomdoasmdoamsd amsodmaosdmasd asodmoasmdoad asdmomdo domm dmoodm domdo odomd odmo domdo mdomd.</p>
<!-- /wp:paragraph -->

<!-- wp:group {"layout":{"type":"constrained"},"fontFamily":"nunito"} -->
<div class="wp-block-group has-nunito-font-family"><!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:list {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}}} -->
<ul style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--40)"><!-- wp:list-item {"style":{"spacing":{"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}}} -->
<li style="padding-top:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30)">List 1</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>List 2</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>List 3</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>List 3</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>List 3</li>
<!-- /wp:list-item -->

<!-- wp:list-item -->
<li>List 3</li>
<!-- /wp:list-item -->

<!-- wp:list-item {"style":{"spacing":{"padding":{"top":"0","bottom":"0"}}}} -->
<li style="padding-top:0;padding-bottom:0">List 3</li>
<!-- /wp:list-item --></ul>
<!-- /wp:list --></div>
<!-- /wp:group -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button -->
<div class="wp-block-button"><a class="wp-block-button__link wp-element-button">Clicke ME</a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"general-footer","area":"footer"} /-->